.employer-dashboard-extention {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employer-appointment-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    height: 60vh;
    overflow-y: auto; 
  }
  
  .employer-appointment-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .employer-appointment-card {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(50% - 10px);
    margin: 10px;
    box-sizing: border-box;
  }
  
  .no-appointments {
    font-size: 18px;
    margin-top: 10px;
  }
  