* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 15vh;
    background-color: rgb(152, 151, 151);
}

.follow-us > div:nth-of-type(2) > * {
    margin-right: 15px;
    font-size: 35px;
}