*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    height: 10vh;
    font-size: 20px;
}

.logo {
    height: 40%;
}

.drawing-menu {
  display: flex;
  position: fixed;
  height: 100vh;
  right: -100%;
  top: 0;
  transition: all 0.5s;
}

.translucent {
  display: block;
  height: 100%;
  width: 30vw;
  opacity: 0.5;
  background-color: black;
}

.menu {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100%;
   width: 70vw;
   background-color:#68cbe7;
   padding-top: 15vh;
   transition: all 0.5s;
}

.menu > li {
  padding: 10px;
  width: 100%;
  margin-right: 0;
  list-style-type: none;
}

.menu > li:hover {
  cursor: pointer;
  color: white;
}


.menu > * {
  margin-bottom: 30px;
  color: whitesmoke;
  text-align: center;
}

.menu * a {
  color: whitesmoke;
  text-decoration: none;
}

.menu-toggle{
  right: 0;
  transition: all 0.5s;
}

@media only screen and (min-width: 700px){
    .drawing-menu{
        position: relative;
        height: 100%;
        right: 0%;
    }

    .translucent {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 500px;
        height: 100%;
        padding: 0;
        background-color: white;
      }

    .menu > li > a {
        color: black;
    }
    
    .menu > li {
        width: 100%;
        margin-right: 0;
        list-style-type: none;
        margin: 0;
    }

    .menu li:nth-of-type(1){
      margin-right: 15px;
    }

    .menu > li:hover {
      background-color: grey;
      color: white;
      border-radius: 10px 0px;
    }
    
}


