* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 1200px;
  margin: auto;
}

.nav{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items:center
}

.nav ul{
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

nav li {
  /* border: 1px solid blue; */
  width: 110px;
  text-align: center;
  margin-right: 10px;
  padding: 10px;
}

nav li:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.main {
  background-image: url(./Images/Landing.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  display: flex;
  align-items: center;
}

.main-container {
  /* display: none; */
  /* border: 1px solid black; */
  width: 50%;
  margin:  auto;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: white; */
  
}

.main-container > input {
  width: 50%;
  margin-right: 20px;
  height: 45px;
  text-align: center;
  border-radius: 20px;
  /* font-size: 25px; */
}

.main-container > button {
  width: 20%;
  height: 40px;
  border-radius: 25px;
}
